#main{
    width: 600px;
    height: 500px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    transition: 2s;
    cursor: pointer;
}
img:hover{
    opacity: 1;
    transition: 2s;
    border-radius: 58px;
    background: #e0e0e0;
    box-shadow:  -34px 34px 9px #bebebe,
                 34px -34px 9px #ffffff;
}
.box{
    width: 600px;
    height: 500px;
    background-color: rgb(255, 0, 0);
}